# For local run update this file with valid login values
# Global data
ENV_TARGET=LOCAL
NETRC_PATH=/home/cm/.netrc

# OPeNDAP related data
MCC_BASEURL=TODO_add_base_url

# Testrail related data
TESTRAIL_API_BASEURL=TODO_add_base_url
TESTRAIL_USER=TODO_add_your_username
TESTRAIL_APIKEY=TODO_add_your_api_key

# Artifactory
ARTIFACTORY_BASEURL=TODO_add_base_url