<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <!-- DISABLE TAG
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WNP7MLF');</script>
  DISABLE TAG -->
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About API</title>
  <!-- Bootstrap -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<!--[if IEMobile 7]><html class="iem7"  lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7"  lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"  lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html  lang="en" dir="ltr"><!--<![endif]-->

<head profile="http://www.w3.org/1999/xhtml/vocab">
  <!-- It is recommended that you use <!DOCTYPE html> as the DOCTYPE declaration. !-->

  <meta charset="utf-8" />
  <title>PODAAC Example Page</title>
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width">
  <!-- Load the required stylesheet files !-->
  <link href="./static/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/css/template.css" type="text/css" rel="stylesheet" />

  <!-- Additional settings can be set to disable certain page elements !-->
  <script type="text/javascript">
    podaac_settings = {
    load_menu: true,
    load_footer: true
    };
  </script>

  <!--
  The required template javascript that loads additional page elements.
  Javascript call must be placed after declaring the PODAAC settings.
  !-->
  <script src="./static/js/template.js" type="text/javascript"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<!-- DISABLE TAG
<noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-WNP7MLF
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
DISABLE TAG -->
<!-- End Google Tag Manager (noscript) -->
<div id="podaac-header-container">
  <header id="podaac-header" role="banner">
    <div id="block-podaac-helper-podaac-jpl-banner" class="block block-podaac-helper first odd">
      <div class="block-content">
        <div id="JPL-banner">
          <div id="JPL-home">
            <a href="http://www.nasa.gov/" id="JPL-NASA-link"></a>
            <a href="http://www.jpl.nasa.gov/" id="JPL-home-link">Jet Propulsion Laboratory</a>
            <a href="http://www.caltech.edu/" id="JPL-caltech-link">California Institute of Technology</a>  </div>
        </div><!-- /.JPL-banner -->
      </div>
    </div><!-- /.block -->
    <div id="block-podaac-helper-podaac-search" class="block block-podaac-helper first odd">
      <div class="block-content">
        <form action="https://podaac.jpl.nasa.gov/helper/search" method="GET" id="podaac-search-form" accept-charset="UTF-8"><div><div class="form-item form-type-select form-item-type">
          <label class="element-invisible" for="edit-type">Search Type </label>
          <select class="not-chosen form-select" id="edit-type" name="type"><option value="website">Website</option><option value="dataset" selected="selected">Data</option></select>
        </div>
          <div class="form-item form-type-textfield form-item-search">
            <label class="element-invisible" for="edit-search">Search </label>
            <input title="Enter the terms you wish to search for." type="text" id="edit-search" name="search" value="Search" size="15" maxlength="128" class="form-text">
          </div>
        </div></form>  </div>
    </div><!-- /.block -->

    <hgroup id="podaac-name-and-slogan">
      <a href="https://podaac.jpl.nasa.gov/" title="Home" rel="home" id="podaac-logo"><img src="./static/images/logo@x2.png" alt="Home"></a>
    </hgroup>

    <div id="podaac-header-satellite"></div>
    <div id="podaac-follow-us">
      <span id="podaac-follow-us-trigger">Follow Us</span>
      <ul id="podaac-follow-us-links">
        <li><a href="https://www.facebook.com/NASAEarthData" class="podaac-follow-us-icon" id="podaac-facebook" target="_blank" title="NASA Earthdata Facebook"></a></li>
        <li><a href="http://www.youtube.com/user/NASAJPLPODAAC" class="podaac-follow-us-icon" id="podaac-youtube" target="_blank" title="PODAAC YouTube"></a></li>
        <li><a href="https://twitter.com/NASAEarthData" class="podaac-follow-us-icon" id="podaac-twitter" target="_blank" title="NASA Earthdata Twitter"></a></li>
      </ul>
    </div>
    <div class="podaac-clearfix"></div>
  </header>

  <div id="podaac-header-banner"></div>
</div>
<div id="podaac-main-container">
  <div id="podaac-content-backdrop">
    <div id="podaac-backdrop">
      <div id="podaac-backdrop-gradient"></div>
    </div>
  </div>

  <div id="podaac-main">
    <div id="podaac-navigation">
      <div class="podaac-clearfix"></div>
    </div>

    <div id="podaac-content-container">
      <div id="podaac-content">
        <div id="podaac-page-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <h1>About the Metadata Compliance Checker</h1>
                  <p class="lead">The Metadata Compliance Checker (MCC) is
                    an automated tool, written in Python, that automatically checks metadata attributes for
                    presence and correctness, and generates human-readable reports that reference the
                    metadata alongside the standard.</p>
                  <p class="lead">MCC currently targets the ACDD, CF, and GDS2 metadata standards for
                    both ease of implementation and practical use by engineers at the Physical
                    Oceanography Distributed Active Archive Center (PO.DAAC).</p>
                  <p class="lead">In keeping with the goal of ease-of-use, MCC is implemented both
                    as a web application and as a public <a href="about_api">API</a>.
                    Complance reports can be returned either in HTML, PDF, or JavaScript Object Notation
                    (JSON) formats.</p>
                </div>

                <div class="row">
                  <h2>Frequently Asked Questions</h2>
                </div>

                <div class="row">
                  <h3>What does the Metadata Compliance Checker currently check?</h3>
                </div>

                <div class="row">
                  It currently supports the following sources and standards:
                  <ul>
                    {% for checker in checkers %}
                    <li>
                      <a href="{{ checker['url'] }}" target="_blank">{{ checker['name'] }} ({{ checker['short_name'] }}), Version(s) {{ checker['versions']|join(', ') }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>

                <div class="row">
                  <h3>What version of Metadata Compliance Checker is currently deployed?</h3>
                </div>

                <div class="row">
                  The currently deployed version is {{ mcc_version }}.
                </div>

                <div class="row">
                  <h3>Is the source code for MCC available publicly?</h3>
                </div>

                <div class="row">
                  The public GitHub repository for MCC is available at <a href="https://github.com/podaac/mcc">https://github.com/podaac/mcc</a>
                </div>

                <div class="row">
                  <h3>Where can I find more information about the API?</h3>
                </div>

                <div class="row">
                  Documentation for the API can be found <a href="about_api">here</a>.
                  A tutorial Jupyter notebook can also be found <a href="https://podaac.github.io/tutorials/mcc_api/metadata_compliance_checker_API.html">here</a>.
                  This notebook is bundled with the MCC repository, and can be downloaded <a href="https://github.com/podaac/mcc/blob/develop/notebooks/metadata_compliance_checker_API.ipynb">here</a>.
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <ul class="list-inline text-center">
        <li><a href="{{ homepage_url }}">Metadata Compliance Checker</a></li>
        <li><a href="https://podaac.jpl.nasa.gov/">PODAAC</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="podaac-footer"></div>

</body>
</html>
